body {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    color: #7f7f7f;
}